<section>
  <h1>About This Blog</h1>
 <p>I have been thinking about starting a blog for a while now, but I could never get around to actually setting it up. My main argument against it seemed that I wasn't sure I had anything worthy to contribute. So instead of doing it for people to read, I am setting it up mostly for me to write. I'll see where that will lead</p>
 <p>Note : This blog only reflects my humble opinion and in no way any of my employers</p>

 <p>Necessary Disclaimer :</p>
 <p>All content provided on this blog is for informational purposes only. The owner of this blog makes no representations as to the accuracy or completeness of any information on this site or found by following any link on this site.</p>

<p>The owner of this blog will not be liable for any errors or omissions in this information nor for the availability of this information. The owner will not be liable for any losses, injuries, or damages from the display or use of this information.
This terms and conditions is subject to change at anytime with or without notice.</p>
</section>
